{{#each blogs as |blog| }}
<div class="blog">
    <div class="blogTitle" id="blogTitle">
        <h3>
            <a href="/blog/{{blog.id}}">{{blog.title}}</a>
        </h3>
        <p>Posted by {{blog.user.name}} on {{ blog.date_created}}</p>
    </div>
    <div class="description">
        <p>
            {{blog.description}}
        </p>
    </div>
</div>
{{/each}}

<script src="/js/login.js"></script>