<div class="blog">
    <div class="blogTitle" id="blogTitle">
        <h3>
            <a href="/blog/{{id}}">{{title}}</a>
        </h3>
        <p>Posted by {{user.name}} on {{date_created}}</p>
    </div>
    <div class="description">
        <p>
            {{description}}
        </p>
    </div>
    <div class="comment">
        
        {{#each comments }} 
        <div class="comment_header">
            <h5>Comments</h5>
            <p> Commented {{comment.user_name}} on {{date_created}} </p>
        </div>
       
        <P>
            {{commentBody}} 
        </P>
        {{/each}}
        <h4></h4>
        <form class="new-comment" data-id="{{id}}">
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Add comment</label>
                <input class="form-control" id="comments" rows="3"></input>
                <button type="submit"  data-id="{{id}}" class="comment-btn" id="submit-btn">submit</button>
             </div>
        </form>

        
    </div>
    <script src="/js/comment.js"></script>